<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workout.name %>
</p>

<p>
  <b>Comments:</b>
  <%= @workout.description %>
</p>


<% @exercises = @workout.exercises %>
<% @exercises.each do |exercise| %>
  <p>
    <% unless exercise.name==nil?  %>
    <%= "Exercise:   " %>
     <%= exercise.name %><br />
     <%= "Reps:  " %>
     <%= exercise.reps %><br />
     <%= "Weight:  "  %>
     <%= exercise.weight %><br />
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
